.container1{
    background-color: aqua;
}
.container2{
    background-color: blue;
}
.container3{
    background-color: purple;
}

#b1{
    background-color: blue;
    height: 40px;
    width: auto;
    border-radius: 15px;
    border: 2px solid black;
}

